.menu-body-2 h1{
	padding:5px;
	margin-right:3px;
}
.Menu-body-2 a{
	text-decoration:none;
	list-style:none;
	color:Black;
}	
.Menu-body-2 li{
	text-decoration:none;
	text-align:left;
	margin:10px;
	margin-left:7px;
}
.Menu-body-2 li:hover{
	border-left:1px solid red;
	text-decoration:none;
}
.Menu-body-2 li:active{
	border-bottom:1px solid red;
	.Menu-body-2 li{
	}
}
.Menu-body-1{
	position:absolute;
	top:15%;
	margin-left:2%;
	height:100vh;
}
.Menu-body-3{
margin-top:5%;
border:1px solid lime;
display:grid;
margin-right:60%;
margin-left:5%;
}
.Main-Menu1{
display:flex;
}

.Menu-body-3-img1{
border:1px solid red;
display:flex;
}
.Menu-body-4{
	position:relative;
margin-top:5%;
border:1px solid lime;
display:grid;
margin-right:;
margin-left:%;
}
.image{
margin-left:3%;
margin-top:3%;	
}
.image a{
display:inline-flex;
}
.image img{
box-shadow:-2px 2px 1px #E6DEDE;
border:1px solid #E6DEDE;
}
.image-1{
border:2px solid red;
}



.image-1 {
  position: relative;
}

/* Bottom right text */
.image-1-p {
  position: absolute;
  bottom: 0px;
  right: px;
  padding-left: 20px;
  padding-right: 20px;
}
#heading{
top:15%;
font-family:'Calibiri';
position:absolute;
}
.buy{
}
.right-bar
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:22%;
right:70%;
box-sizing:border-box;
font-family: 'Acme';	
}
.right-bar:hover{
	border:2px solid black;
}
.right-bar-1
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:22%;
right:40%;
box-sizing:border-box;
font-family: 'Acme';
}

.right-bar-1:hover{
	border:2px solid black;
}
.right-bar-2
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:22%;
right:10%;
box-sizing:border-box;
font-family: 'Acme';
}

.right-bar-2:hover{
	border:2px solid black;
}
.right-bar-3
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:92%;
right:70%;
box-sizing:border-box;
font-family: 'Acme';	
}
.right-bar-3:hover{
	border:2px solid black;
}
.right-bar-4
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:92%;
right:40%;
box-sizing:border-box;
font-family: 'Acme';
}

.right-bar-4:hover{
	border:2px solid black;
}
.right-bar-5
{
padding:3px;
width:340px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
background-color: white;
border-radius: 8px;
position: absolute;
top:92%;
right:10%;
box-sizing:border-box;
font-family: 'Acme';
}

.right-bar-5:hover{
	border:2px solid black;
}